/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*{
    box-sizing: border-box;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
img{
    max-width: 100%;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-color: #fff;
    margin: 0;
}

.header-wrap{
    background-color: #333333;
    padding: 0 0 0 0;

}
.header-wrap .container{
    position: relative;
    z-index: 12;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo{
    float: left;
    margin: 10px 0;
}
.head-nav{
    padding: 0 40px 0 0;
    margin: 0;
    float: right;
}
.head-nav li{
    margin: 0;
    list-style: none;
    display: inline-block;
    position: relative;
}
.head-nav>li + li{
    margin: 0 0 0 53px;
}
.head-nav li a{ 
    font:300 14px 'Work Sans', Arial , Helvetica;
    color: #fff;
    text-decoration: none;
    word-spacing: -1px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    padding: 16px 13px;
    display: inline-block;
}

.head-right{
    float: right;
    width: 9%;
    padding: 11px 0 8px 0;
}
.search-icon{
    float: left;
    padding-top: 6px;
}
.search-icon span{
    background: url(../img/search_icon.svg) center center no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.head-right a{
    float: right;
    padding: 0 2px 0 0;
}
.main-slider{
    background:url(../img/banner_img.jpg) center center no-repeat;
    min-height: 570px;
    background-size: cover;

}
.main-slider h2 , h3 , h5 , h4{
    margin: 0;
}
.main-slider .container{
    position: relative;
    padding-top: 10%;
}
.slider-content{
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(40%);
    border-left: 2px solid #d10b0b;
    padding: 0 0 0 20px;
    margin-left: 20px
}

.slider-content h2{
    font: 400 16px 'Work Sans', Arial , Helvetica;
    color: #d10b0b;
    text-transform: uppercase;
}
.slider-content h3{
    font: 300 56px 'Work Sans', Arial , Helvetica;
    color: #212020;
    text-transform: uppercase;
    margin: 17px 0 7px 0;
}
.slider-content h4{
    font: 500 56px 'Work Sans', Arial , Helvetica;
    color: #d10b0b;
    text-transform: uppercase;
}
.slider-content h5{
    font: 600 56px 'Work Sans', Arial , Helvetica;
    color: #171717;
    text-transform: uppercase;
    margin: 6px 0 14px 0;
}
.welcome{
    background-color: #da3c3c;
}
.welcome-text h2{
    font: 600 60px 'Work Sans', Arial , Helvetica;
    color: #000;
    text-transform: uppercase;
    float: left;
    margin: 20px 0;
    line-height: 56px;
    width: 44%;
}
.welcome-text{
    padding: 40px 20px;
}
.welcome-text h2 span{
    font-size: 48px;
    color: #fff;
}
.welcome-p{
    float: right;
    width: 55%;
}
.welcome-p p{
    font: 400 13px 'Roboto', Arial , Helvetica;
    color: #feb5b5;
    line-height: 20px;
    margin-bottom: 14px;
}
.sports-wear{
    background: url(../img/sportswears_img.jpg) top center no-repeat fixed;
    background-size: cover;
}
.boy-content h2{
    font: 600 32px 'Work Sans', Arial , Helvetica;
    color: #fff;
    margin: 0 0 7px;
    text-transform: uppercase;
}
.boy-content h3{
    font: 400 24px 'Roboto', Arial , Helvetica;
    color: #8c8c8c;
    margin: 0;
}
.boy-content{
    padding: 72px 0 76px 1px;
}
.view-all-btn{
    border-radius: 3px;
    background-color: rgb(209, 11, 11);
    padding: 5px;
    width: 134px; 
    margin: 18px 9px 0 0px;
    display: inline-block;
    float: none;
    position: relative;
    padding-left: 30px;
    text-align: center;
    font: 400 14px 'Roboto', Arial , Helvetica;
    color: #fffefe;
    text-decoration: none;
    height: 35px;
    line-height: 25px;
    text-transform: uppercase;
}
.view-all-btn:after{
  border-radius: 2px;
  background: rgb(10, 10, 10) url(../img/arrow_right_white.png) no-repeat 8px center;
  width: 24px;
  height: 24px;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
}
.view-all-btn span{
    text-align: center;
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}
/*.view-all-btn{
    font: 400 14px 'Roboto', Arial , Helvetica;
    color: #fffefe;
    margin: 5px 16px 0 0;
    float: right;
    text-transform: uppercase;
}*/
/*.black-bg2{
  border-radius: 2px;
  background-color: rgb(10, 10, 10);
  width: 100%;
  text-align: center;   
  height: 24px;
  float: left;
}
.black-bg2 p{
    font: 400 14px 'Roboto', Arial , Helvetica;
    color: #fffefe;
    margin: 5px 16px 0 0;
    float: right;
    text-transform: uppercase;
}*/
.sportswear{
    border-top: 3px solid #d10b0b;
    padding: 0 20px 25px 20px;
}
.sportswear ul{
    padding: 0;
    margin:0;
}

.sportswear h2{
    margin: 15px 0 13px 0;
    font: 600 22px 'Roboto', Arial , Helvetica;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
}
.girl-content{
    background: url(../img/fitness_wears_img.jpg) top center no-repeat fixed;
    background-size: cover;
}
.girl-boy-content{
    background: #000 url(../img/casual_wears_img.jpg) top center no-repeat fixed;
    background-size: cover;
}
.trouser-slider ul li{
    padding: 22px 0 21px 18px;
}
.trouser{
    padding-bottom: 7px;
}
.jacket ul li{
    padding: 7px 0 6px 14px;
}
.sign-up{
    background-color: #1a1818;
    padding-bottom: 49px;
}
.offers{
    border-top: 3px solid #d10b0b;
    text-align: center;
}
.offers h2{
    margin: 36px 0 1px;
    font: 400 28px 'Work Sans', Arial , Helvetica;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.offers h2 span{
    color: #d10b0b;
    font-weight: 700;
}
.offers h3{
    margin: 0;
    font: 400 28px 'Work Sans', Arial , Helvetica;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.offers h3 span{
    font-weight: 700;
}
.offers form input[type="email"]{
    border-radius: 5px;
    background-color: rgb(38, 36, 36);
    max-width: 378px;
    width: 100%;
    border: 0;
    padding: 15px 0 15px 11px;
    margin-bottom: 15px;
}
.offers form button[type="submit"]{
    border-radius: 3px;
    border: 0;
    background-color: rgb(209, 11, 11);
    width: 134px;
    display: inline-block;
    position: relative;
    min-height: 46px;
    font: 400 14px 'Work Sans', Arial , Helvetica;
    color: #fff;
    text-transform: uppercase;
    padding: 0 0 0 35px;
    margin-left: 5px;
    cursor: pointer;
}
.offers form button[type="submit"] span{
    position: relative;
    z-index: 2;
}
.offers form button[type="submit"]:before{
    position: absolute;
    top: 9px;
    left: 7px;
    content: "";
    background:#0a0a0a url(../img/arrow_right_white.svg) 10px center no-repeat;
    width: 28px;
    height: 28px;
    z-index: 1;
}
.offers form{
    margin-top: 21px;
}
.footer-wrap{
    background-color: #0b0a0a;

}
.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #1a1818; 
}
.quick-links{
    width: 18%;
    float: left;
}
.quick-links h2{
    margin: 0 0 24px;
    font: 600 18px 'Work Sans', Arial , Helvetica;
    color: #fefefe;
    text-transform: uppercase;
}
.quick-links ul{
    padding: 0;
    margin: 0;
}
.quick-links ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    font: 400 14px 'Roboto Condensed', Arial , Helvetica;
}
.quick-links ul li a{
    text-decoration: none;
    color: #929292;
}
.news{
    width: 30%;
    float: left;
}
.news h2{    
    margin: 0 0 24px;
    font: 400 18px 'Work Sans', Arial , Helvetica;
    color: #fefefe;
    text-transform: uppercase;
}
.news a{
    font: 400 14px 'Roboto Condensed', Arial , Helvetica;
    color: #d10b0b;
    text-decoration: none;
}
.news p{
    font: 400 14px 'Roboto Condensed', Arial , Helvetica;
    color: #929292;
    text-transform: uppercase;
}
.fb{
    width: 30%;
    float: left; 
    padding: 0 20px;
}
.fb h2{    
    margin: 0 0 24px;
    font: 400 18px 'Work Sans', Arial , Helvetica;
    color: #fefefe;
    text-transform: uppercase;
}
.social ul li{
    padding-left: 20px;
    padding-bottom: 22px;
}   
.social ul li img{
    position: relative;
    padding-right: 15px;
}
.img-circle:before{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #959595;
    top: -6px;
    left: -6px;
    border-radius: 50%;
}
.img-circle{
    position: relative;
}
.footer-btm{
    padding:20px;
    text-align: center;
}
.footer-btm h3{
    font: 300 14px 'Roboto Condensed', Arial , Helvetica;
    color: #7b7878; 
}
.footer-btm h3 a{
    color: #d10b0b;
    text-decoration: none;
}

.owl-item>div{
    margin: 0 11px;
    position: relative;
}
.owl-item>div>a:not(.detail-btn):not(.cart-btn){
    border: 1px solid #969696;
    padding: 6px 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 196px;
    position: relative;
    overflow: hidden;
}
.owl-item>div>a>img{
    max-width: 100%;
    max-height: 100%;
}
.owl-item>div>a:not(.detail-btn):not(.cart-btn):after{
        position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(209,11,11,0.8) repeat;
    visibility: collapse;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    z-index: 10;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;

}

/*.owl-item>div>a:hover:not(.detail-btn):not(.cart-btn):after{
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}*/
@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
}
.detail-hover{/*
    background: rgba(209, 11, 11, .8);*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 45px 30px;
    text-align: center;
    z-index: 11;
    -webkit-transition:all 0.15s ease-in-out;
-moz-transition:all 0.15s ease-in-out;
-ms-transition:all 0.15s ease-in-out;
transition:all 0.15s ease-in-out;

    opacity: 0;
}


.detail-hover h3{
    font: 400 16px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fefefe;
    margin: 0 0 10px;
}
.detail-hover span{
    font: 400 16px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #f79f9f;
    margin: 0 0 10px;
    display: block;
}
.detail-btn {
    border-radius: 3px;
    background-color: #0a0a0a;
    padding: 5px;
    width: 134px;
    margin: 18px 9px 0 0px;
    display: inline-block;
    float: none;
    position: absolute;
    padding-left: 30px;
    text-align: center;
    font: 400 14px 'Roboto', Arial , Helvetica;
    color: #fffefe;
    text-decoration: none;
    height: 35px;
    line-height: 25px;
    text-transform: uppercase;
    z-index: 12;
    top: 60%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition:all 0.15s ease-in-out;
-moz-transition:all 0.15s ease-in-out;
-ms-transition:all 0.15s ease-in-out;
transition:all 0.15s ease-in-out;
}

.detail-btn:after {
    border-radius: 2px;
    background: #d10b0b url(../img/arrow_right_white.png) no-repeat 8px center;
    width: 24px;
    height: 24px;
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
}

.cart-btn {
    border-radius: 3px;
    background-color: #0a0a0a;
    padding: 5px;
    width: 134px;
    margin: 18px 9px 0 0px;
    display: inline-block;
    float: none;
    position: absolute;
    padding-left: 30px;
    text-align: center;
    font: 400 14px 'Roboto', Arial , Helvetica;
    color: #fffefe;
    text-decoration: none;
    height: 35px;
    line-height: 25px;
    text-transform: uppercase;
    z-index: 12;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition:all 0.15s ease-in-out;
-moz-transition:all 0.15s ease-in-out;
-ms-transition:all 0.15s ease-in-out;
transition:all 0.15s ease-in-out;

}

.cart-btn:after {
    border-radius: 2px;
    background: #d10b0b url(../img/arrow_right_white.png) no-repeat 8px center;
    width: 24px;
    height: 24px;
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
}
.inner-ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 130px;
    padding: 0;
    background: #3f3f3f;
    z-index: 1001;
    visibility: hidden;
}
.inner-ul li + li{
    padding: 0;

}
.inner-ul li{
    padding:0;
    border-bottom: 1px solid #656565;
}
.inner-ul li a{
    width: 100%;
    padding: 16px 13px 16px 24px;
    position: relative;
}
.inner-ul li a:before{
    content: "";
    top: 40%;
    left: 5%;
    background: url(../img/arrow_right_white.svg) center center no-repeat;
    width: 9px;
    height: 9px;
    position: absolute;
}
.inner-ul li{
    float: none;
    padding-bottom: 0;
    display: block;
    font-size: 18px;
    text-transform: initial;
    letter-spacing: -0.001em;
    line-height: 1.12;
}
.head-nav li:hover>.inner-ul{
    visibility: visible;
    opacity: 1;
}
.m-inner {
    left: 100%;
    top: 0;
    margin: 0 0 0 2px;
}
.social{
    padding: 0 0 0 35px;
    width: 20%;
}
.hamburger {
    list-style: none;
    float: right;
    margin: 0;
    padding: 4px;
    position: relative;
    top: 0;
    left: 0;
    -moz-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
    -o-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
    -webkit-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
    transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
    margin-left: 9px;
}
.hamburger li {
  width: 24px;
  height: 4px;
  background: #fff;
  margin: 2px 0 0;
  padding: 0;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  -o-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
}

 .hamburger.checked li.first {
  -moz-transform: rotate(-135deg) translateY(-8.5px);
  -ms-transform: rotate(-135deg) translateY(-8.5px);
  -webkit-transform: rotate(-135deg) translateY(-8.5px);
  transform: rotate(-135deg) translateY(-8.5px);
}
 .hamburger.checked li.second {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.hamburger.checked li.third {
  -moz-transform: rotate(135deg) translateY(8.5px);
  -ms-transform: rotate(135deg) translateY(8.5px);
  -webkit-transform: rotate(135deg) translateY(8.5px);
  transform: rotate(135deg) translateY(8.5px);
}
.detail-btn span, .cart-btn span{
    text-align: center;
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    font: 400 14px 'Roboto', Arial , Helvetica;
    color: #fffefe;
    margin-bottom: 0;
    margin-top: 5px;
}



/*font-family: 'Roboto', sans-serif; font-family: 'Work Sans', sans-serif;*/
/*==================================
=            Clear Both            =
==================================*/


.advise-section:after, .doted-box:after{
    content: '';
    display: table;
    clear: both;
}

/*=====  End of Clear Both  ======*/
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 1150px){
    .slider-content h3{
        font-size: 44px;
    }
    .slider-content h4{
        font-size: 46px;
    }
    .slider-content h5{
        font-size: 46px;
    }
}
@media screen and (min-width: 1025px) {
    .quick-links ul li a:hover{
        color: #fff;
    }
    .view-all-btn:after, .offers form button[type="submit"]:before, .detail-btn:after , .cart-btn:after{
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .view-all-btn:hover:after, .offers form button[type="submit"]:hover:before, .detail-btn:hover:after , .cart-btn:hover:after{
        width: calc(100% - 10px);
        background-position: 13px center;
    }
    .head-nav li a:hover{
        background-color: #d10b0b;
    }
    .owl-item>div:hover>a:not(.detail-btn):not(.cart-btn):after{
         visibility: visible;
        opacity: 1;
        -webkit-transition: all 500ms linear;
        -moz-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition-timing-function: cubic-bezier(0.52,1.64,0.37,0.66);
        transition-timing-function: cubic-bezier(0.52,1.64,0.37,0.66);
    }

    .owl-item>div:hover .detail-hover, .owl-item>div:hover .detail-btn , .owl-item>div:hover .cart-btn , .owl-item>div:hover .detail-hover {
        opacity: 1;
    }
    .owl-item>div:hover .detail-btn{
        opacity: 1;
    }
}
@media screen and (max-width: 1024px) {
    .head-nav>li + li{
        margin-left: 12px;
    }
    .slider-content h3{
        font-size: 44px;
    }
    .slider-content h4{
        font-size: 46px;
    }
    .slider-content h5{
        font-size: 46px;
    }
    .main-slider{
        min-height: 500px;
    }
    .fb{
        padding: 0 0 0 20px;
    }
    .welcome-text h2{
        font-size: 50px;
    }
    .welcome-text h2 span{
        font-size: 40px;
    }
}
@media screen and (min-width: 768px) {
    .hamburger{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .slider-content h3{
        font-size: 28px;
        margin: 0;
    }
    .slider-content h4{
        font-size: 28px;
    }
    .slider-content h5{
        font-size: 28px;
    }
    .main-slider{
        min-height: 370px;
        margin-top: 48px;
    }
    .welcome-text h2{
        font-size: 49px;
        line-height: 39px;
        float: none;
        width: 100%;
        text-align: center;
    }
    .welcome-text h2 span{
        font-size: 40px;
    }
    .welcome-p{
        float: none;
        width: 100%;
    }
    .welcome-text{
        padding: 0 20px 5px;
    }
    .boy-content h2{
        font-size: 24px;
    }
    .boy-content h3{
        font-size: 19px;            
    }
    .sportswear h2{
        font-size: 20px;
    }
    .offers h2{
        font-size: 22px;
    }
    .offers h3{
        font-size: 22px;
    }
    .quick-links h2, .news h2, .fb h2{
        font-size: 15px;
    }
    .news p{
        margin: 4px 0;
    }
    .footer-btm h3{
        font-size: 13px;
    }
    .offers form button[type="submit"]{
        font-size: 12px;
    }
    .view-all-btn{
        font-size: 12px;
    }
    .boy-content{
        padding: 55px 0;
    }
    .quick-links{
        width: 40%;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    .news{
        width: 60%;
        margin-bottom: 20px;
    }
    .fb{
        width: 60%;
        float: right;
        padding: 0;
    }
    .social{
        padding: 0;
    }
    .head-nav{
        clear: both;
        width: calc(100% + 40px);
        padding-right: 0;
        margin-right: -20px;
    }
    .head-nav li{
        display: block;
        border-bottom: 1px solid #545454;
    }
    .head-nav li a{
        display: block;
        padding: 16px 20px;
    }
    .head-nav>li + li{
        margin-left: 0;
    }
    .inner-ul{
        position: static;
        margin-left: 10px;
        visibility: visible;
        width: auto;
        display: none;
    }
    .inner-ul li a:before{
        left: 8px;
    }
    .head-right{
        width: 90px;
    }

    .head-nav > li:nth-child(2) {
    -webkit-transition-delay: 250ms,250ms;
    transition-delay: 250ms,250ms;
  }
  .head-nav > li:nth-child(3) {
    -webkit-transition-delay: 200ms,200ms;
    transition-delay: 200ms,200ms;
  }
  .head-nav > li:nth-child(4) {
    -webkit-transition-delay: 150ms,150ms;
    transition-delay: 150ms,150ms;
  }
  .head-nav > li:nth-child(5) {
    -webkit-transition-delay: 100ms,100ms;
    transition-delay: 100ms,100ms;
  }
  .head-nav {
    -webkit-transition-delay: 50ms,50ms;
    transition-delay: 50ms,50ms;
  }
  .head-nav > li:nth-child(2) {
    -webkit-transition-delay: 300ms,300ms;
    transition-delay: 300ms,300ms;
  }
  .head-nav > li:nth-child(3) {
    -webkit-transition-delay: 350ms,350ms;
    transition-delay: 350ms,350ms;
  }
  .head-nav > li:nth-child(4) {
    -webkit-transition-delay: 400ms,400ms;
    transition-delay: 400ms,400ms;
  }

  .head-nav > li:nth-child(5) {
    -webkit-transition-delay: 450ms,450ms;
    transition-delay: 450ms,450ms;
  }
  .head-nav > li:nth-child(6) {
    -webkit-transition-delay: 500ms,500ms;
    transition-delay: 500ms,500ms;
  }
  .head-nav > li:nth-child(7) {
    -webkit-transition-delay: 550ms,550ms;
    transition-delay: 550ms,550ms;
  }

  .head-nav > li:nth-child(8) {
    -webkit-transition-delay: 600ms,600ms;
    transition-delay: 600ms,600ms;
  }
  .head-nav > li:nth-child(9) {
    -webkit-transition-delay: 650ms,650ms;
    transition-delay: 650ms,650ms;
  }
  .head-nav > li:nth-child(10) {
    -webkit-transition-delay: 700ms,700ms;
    transition-delay: 700ms,700ms;
  }
  .header-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: none;
  }
  .header-wrap:after{
    background: #333;
        -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
  }
  .header-wrap.full-height{
    height: 100vh;
  }
  .header-wrap.full-height:after{
    height: 100vh;
  }
  .head-nav{
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     height: calc(100vh - 48px);
     opacity: 0;
     visibility: hidden;
     overflow: hidden;
  }
  .full-height .head-nav{
    opacity: 1;
    visibility: visible;

  }
  .ov-hidden{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
   .head-nav>li {
    margin: 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
    -webkit-transform: scale(1.05) translateY(-12px);
    transform: scale(1.05) translateY(-12px);
  }
  .full-height .head-nav > li{
        opacity: 1;
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }
}
@media screen and (max-width: 450px){
    .main-slider{
        min-height: 230px;
    }
    .boy-content{
        padding: 40px 0;
    }
    .offers h2{
        font-size: 17px;
    }
    .offers h3{
        font-size: 14px;
    }
    .welcome-text h2{
        font-size: 28px;
    }
    .welcome-text h2 span{
        font-size: 28px;
    }
    .sign-up{
        padding-bottom: 30px;
    }
    .slider-content h3{
        font-size: 20px;
    }
    .slider-content h4{
        font-size: 20px;
    }
    .slider-content h5{
        font-size: 20px;
    }
    .slider-content{
        margin-left: 10px;
        padding-left: 5px
    }
}